

img {
    border-radius: 50%;

  }

  body {
    font-family: "Open Sans", sans-serif;

    background-image: linear-gradient(to right, #37dda646, #3046c534, #4acc2a5d);
    background-size: cover;
   
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

footer {
    position:fixed;
    bottom:0;
    right:0;
    left:0;
    
   
    height: 200px;

    background-color:none;
    padding: 10px 0;
}



.jumbotron {
    margin: 0%;
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar{
    margin: 0%;
    margin-bottom: 0%;
    background-color:none;
    
    
}

.nav-link{

    color:darkblue;
    font-size:25px;
    font-weight:bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
   display: inline;
   margin-right: 200px;
}


:root {
    --mainColor:rgba(35, 172, 190, 0.527);
  }
  

  a {
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;
  }
  
  a:hover {
    background-size: 4px 50px;
  }





